<header>
    <img src="assets/img/poda-img.jpg" alt="Rodrigo Podanosqui - Foto de Perfil" width="130px" height="130px" loading="eager" /> 
    <h1>Rodrigo Podanosqui</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Front-End Junior | Angular | React | Javascript</p>
        <p>Cambuí, Minas Gerais, Brasil</p>
        <p>Desde o início de 2024, estou atuando no Desenvolvimento de Software voltado ao Front End. Busco aprimorar minhas habilidades nas linguagens que conheço e adquirir novos conhecimentos.</p>

        <nav>
            <ul>
                <li><a href="assets/docx/cv-RodrigoPodanosqui.docx" target="_blank" class="btn btn-primary" >Downlaod CV</a></li>
                <li><a href="https://www.linkedin.com/in/rodrigo-podanosqui-939706230/" target="_blank" class="btn btn-secondary" >LinkedIn</a></li>
            </ul>
        </nav>

        <section>
            <figure><img src="assets/icons/whatsapp.png" alt="Ícone para contato do Whatsapp" width="24px" height="24px" /></figure>
            <figcaption><a href="https://api.whatsapp.com/send?phone=5535999924131" target="_blank"><strong>Envie uma mensagem por Whatsapp</strong></a></figcaption>
            
            <figure><img src="assets/icons/e-mail.png" alt="Ícone para contato do Email" width="24px" height="24px" /></figure>
            <figcaption><a href="mailto:rodrigohenrique2210@gmail.com" target="_blank"><strong>Envie um Email</strong></a></figcaption>

        </section>

    </div>
</aside>